#project-section {
	padding-top: 50px;
}

img {
	height: 50%;
}

.projectCard {
	position: relative;
	height: 45rem;
	width: 26rem;
	background-color: #191919 !important;
;
}

.card-body > *{
	color: white !important; 
}

.project-section-head{
	font-size: 3rem;
}

.project-name {
	font-size: 2rem;
	text-decoration: none;
}

.project-name:hover {
	text-decoration: underline;
}

.stack{
    font-size: 1.2rem;
}

.project-description{
    font-size: 1.2rem;
}

.links {
	position: absolute;
	bottom: 1rem;
}

.links * {
	margin: 0.5rem;
	width: 7.5rem;
	height: 2.5rem;
	font-size: 1.2rem;
	font-weight: 600;
}

.links * :hover {
	cursor: pointer;
}

.button {
	background-color: white !important;
	color: black !important;
	border: none;
}

.button:hover{
	background-color: black !important;
	color: white !important;
	border: 2px solid white;
}
